@use "../global/index" as *;

// @include flexQueries(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

@media screen and (max-width: 2560px) {
}
@media screen and (min-width: 2560px) {
}
// For 4K
@media screen and (min-width: 1600px) {
    .Container,
    .Container-full {
        width: calc(1600px - 6rem);
    }
}
@media screen and (max-width: 1600px) {
    .Container {
        // --container-width: 90%;
    }
}
// For L Monitor

@media screen and (max-width: 1440px) {
    // .Container {
    // }
}
// For Monitor

@media screen and (max-width: 1024px) {
    :root {
        --fs-xl: 80px;
    }
    .Container {
        // --container-width: calc(100% - 4rem);
    }
}
@media screen and (min-width: 1025px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

// For laptop, S-Monitor
@media screen and (max-width: 768px) {
    :root {
        --fs-lg: 40px;
        --fs-xl: 50px;
    }
    .Container {
        width: calc(100% - 2.5rem);
    }

    nav[data-state="opened"] {
        display: block;
        animation: slideIn var(--time-slow) var(--animation) forwards;
    }

    nav[data-state="closing"] {
        animation: slideOut var(--time-slow) var(--animation) forwards;
    }

    nav[data-state="closed"] {
        display: none;
    }

    .Header nav {
        background-color: var(--bg-clr);
        height: 100vh;
        width: 100%;
        position: absolute;
        isolation: isolate;
        left: 0;
        top: 5rem;
        z-index: 101;
        padding: 1.25rem;
        transform: translateY(-125%);
    }

    @keyframes slideIn {
        from {
            transform: translateY(-125%);
        }
        to {
            transform: translateY(0);
        }
    }

    @keyframes slideOut {
        from {
            transform: translateY(0);
        }
        to {
            transform: translateY(-125%);
        }
    }
}
@media screen and (min-width: 769px) {
    .Nav_toggle {
        display: none;
    }
}

@media screen and (min-width: 425px) {
}

/*For tablets */

// @media screen and (max-width: #{toEm(375px)}) {
// 	.Container {
// 	}
// }
// For S phones
// @media screen and (max-width: #{toEm(320px)}) {
// 	.Container {
// 	}
// }
// For xS phones

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    // header nav a:hover,
    // .button:hover,
    // footer li {
    //     opacity: 0.9;
    // }
    // header nav a:not(.button):hover {
    //     text-decoration: underline;
    // }
    // footer li:first-child:hover {
    //     transform: rotate(-10deg) scale(1.1);
    // }
    // footer li:nth-child(2):hover {
    //     transform: scale(1.2);
    // }
    // footer li:last-child:hover {
    //     transform: rotate(10deg) scale(1.1);
    // }
}

// @supports (scroll-snap-points-y: repeat(100vh)) {
// 	html,
// 	html:focus-within {
// 		scroll-snap-points-y: repeat(100vh);
// 	}
// }
@supports (overflow-x: clip) {
    html,
    body {
        overflow-x: clip;
    }
}
@supports not (height: 100svh) {
}
@supports (aspect-ratio: 1 / 1) {
}

@supports not (inset: 0) {
}

// put all the animation here if you will use them in css and delete the reduce one
@media (prefers-reduced-motion: no-preference) {
}
/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
