@use "./colors.scss" as *;
@use "./typography.scss" as *;

:root {
    --container-width: calc(100% - 4rem);
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
::before,
::after {
    text-decoration: inherit;
    vertical-align: inherit;
    font: inherit;
}
html,
body {
    height: 100%;
    max-width: 100%;
    overflow-x: clip;
    background-color: var(--bg-clr);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
@supports not (overflow: clip) {
    html,
    body {
        overflow-x: hidden;
    }
}
html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
    font-size: 100%;
    cursor: default;
    overflow-wrap: anywhere;
    tab-size: 4;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
}
.Container {
    height: 100%;
    width: var(--container-width, 90%);
    margin-inline: auto;
}
:disabled,
.disabled {
    --focus-ring-clr: var(--mono-clr);
    filter: grayscale(90%);
    opacity: 0.9;
    cursor: not-allowed !important;
}
li,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    a {
        text-decoration: none;
    }
}
img {
    vertical-align: middle;
    font-style: italic;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    shape-margin: 0.75rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    box-shadow: none;
    pointer-events: none;
    isolation: isolate;
}
svg {
    // width: var(--icon-size);
    // height: var(--icon-size);
    // aspect-ratio: 1;
    // fill: var(--icon-clr);
    // color: var(--icon-clr);
}
.Line {
    background-color: var(--accent-clr, hsla(225, 7%, 12%));
}
:where(.Button) {
    width: fit-content;
    height: fit-content;
    max-width: 100%;
    display: inline-flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    appearance: button;
    padding: max(0.5em, 0.5rem) max(1.25em, 1.25rem);
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 1;
    border-radius: 40px;
}
@supports not (width: fit-content) {
    .button {
        width: max-content;
        height: max-content;
    }
}
@supports not (padding: max(0.5em, 0.5rem) max(1em, 1rem)) {
    .button {
        padding: 0.5em 1.75em;
    }
}
@media (hover: hover) and (pointer: fine) {
    :where(.Button):not(.disabled, :disabled):hover {
        opacity: 0.9;
    }
}
:where(.Button):active {
    transform: scale(0.95);
}
:where(.Button.icon-only) {
    padding: max(1em, 1rem);
    box-shadow: none;
    background-color: transparent;
    border: none;
}
.button :where(svg, img, span) {
    pointer-events: none;
}
.Button:has(img, svg) {
}
.Button:where(:hover, :active):not(:has(img, svg)) {
}
.Button:has(img, svg):where(:hover, :active) {
}

.button.icon-only {
    padding: max(1em, 1rem);
    box-shadow: none;
}

.loeadToDown {
    transform: translateY(-100%);
    opacity: 0.5;
    animation: loeadToDown calc(var(--time-slow) * 2) var(--animation) forwards;
}
@keyframes navSlideIn {
    0% {
        transform: translateY(-125%);
    }
    100% {
        transform: translateY(0%);
    }
}
@keyframes navSlideOut {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-125%);
    }
}
@keyframes loeadToDown {
    0% {
        opacity: 0.5;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes text-animation {
    from {
        opacity: 0.4;
        transform: translateX(-25%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}
