@use "./colors.scss" as *;

/* 
    ? font families
inter -> sans-serif, main font
*/

:root {
    // ? font sizes
    --fs-sm: 11.5px;
    --fs-base: 16.5px;
    --fs-md: 30px;
    --fs-lg: 50px;
    --fs-xl: 100px;
    --fs-xxl: 11vw;
    --fs-xxxl: clamp(4.75rem, calc(35vw - 6rem), 25rem);

    --ls-xs: -0.04em;
    --ls-sm: -0.02em;
    --ls-md: -0.015em;
    --ls-lg: -0.01em;
    --ls-base: 0em;
    --ls-xl: 0.02em;
}
@media print {
    :root {
        --fs-sm: 10px;
        --fs-base: 14px;
        --fs-md: 18px;
        --fs-lg: 28px;
        --fs-xl: 50px;
        --fs-xxl: 80px;
        --fs-xxxl: 100px;
    }
}

body {
    font-family:
        Inter,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        sans-serif;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: var(--ls-base);
    font-weight: 450;
    color: var(--txt-clr);
    font-optical-sizing: auto;
    font-feature-settings:
        "liga" 1,
        "calt" 1;
    font-synthesis: none;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:where(h1, h2, h3, h4, p, a:not(.Button), span) {
    margin: 0;
}
:where(h1, h2, h3, h4) {
    text-transform: capitalize;
}

.h1 {
    font-weight: 700;
    line-height: calc(1em * 1.1);
    letter-spacing: var(--ls-sm);
    margin: 0.5em 0;
}
.h3 {
    font-weight: 700;
    line-height: calc(1em * 1.2);
    letter-spacing: var(--ls-md);
    margin: 0.6em 0;
}
.h4 {
    font-weight: 600;
    line-height: calc(1em * 1.3);
    letter-spacing: var(--ls-lg);
    margin: 0.75em 0;
}
.p {
    font-weight: 450;
    margin: 0.6em 0;
    text-decoration: none;
}
small,
.small {
    font-size: var(--fs-sm);
    letter-spacing: var(--ls-xl);
    font-weight: 300;
}

a {
    text-decoration: none;
}
:where(a:not(.Button), .Link) {
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    color: var(--accent-clr, hsl(225, 7%, 12%));
    text-decoration: underline;
    .Icon {
        padding-right: 0.4em;
        width: 0.7em;
        height: 0.7em;
    }
    .Icon.arrow {
        transform: rotate(-45deg);
        margin-left: -0.4em;
    }
}
@media (hover: hover) and (pointer: fine) {
    :where(a:not(.Button), .Link):hover {
        opacity: 0.9;
    }
}
